.blog-header{
    background-image: url("../assets/blog-image-1.jpg");
    height: 400px;
    padding-top: 30px;
    position: relative;
}

.blog-header h1{
    position: absolute;
    bottom: -68px;
}