@use "variables" as *;

.contact-body{
    background-color: $quinary;
}

.contact-header{
    background-image: url("../assets/contact-image-1.jpg");
    height:400px;
    padding-top: 30px;
    position: relative;
    margin-bottom: 50px;
}

.contact-header h1{
    position: absolute;
    bottom:-41px;
}

.address-box{
    background-color: white;
}



.contact-container{
    display: flex;
    width: 100%;
}

.contact-form{
    width:60%;
    margin-left:20px;
}

.address-box{
    width: 30%;
    height: 50%;
    padding: 10px;
    margin-top: 30px;
}

.comment-form input {
    border: 0;
    margin-top: 30px;
}

.top-form {
    display: flex;
}

.input-name,
.input-email {
    flex-basis: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.input-name {
    margin-right: 15px;
}

.input-comment {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 200px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.button-box {
    width: 100%;
}

.form-button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin-bottom: 75px;
}