@use "variables" as *;

// Start of Header
.index-header {
    background-color: $secondary;
}

h1 {
    font-family: $heading-font;
    font-size: 4rem;
    color: white;
}

h2,
h3 {
    font-family: $heading-font;
}

.index-header{
    position: relative;
    height: 500px;
    h1{
        position: absolute;
        top:25%;
        left:30%;
    }
}

.header-icon img{
    position: absolute;
    width: 100px;
    top: 30%;
    left: 27%;
}

.header-image{
    position: absolute;
    width: 23%;
    box-shadow: 10px 10px 0px 0px rgba(255, 255, 255);
    top: 9%;
    left: 60%;
}

.header-image img{
    max-width: 100%;
}

// Start of Whos Willow
.whos-willow .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.whos-willow{
    background-color: $quinary;
    height:350px;
    padding-top:50px;
    padding-bottom: 50px;
    h2,
    p{
        text-align: center;
    }
}

.willow-button{
    width: 20%;
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color:$quaternary;
    font-family: $heading-font;
}

// Start of Favourite Things
.favourite-things .wrapper{
    display: flex;
}

.favourite-things{
    flex-basis: 50%;
    position: relative;
    margin-top: 20px;
}

.favourite-image{
    width:45%;
    img{
        max-width:100%;
        height: auto;
        box-shadow: -152px 14px 0px 0px $primary;
    }
}

.favourite-text{
    width: 45%;
    flex-basis: 50%;
    padding-left: 40px;
    padding-bottom: 50px;
}

.favourite-button{
    text-decoration: none;
    font-family: $heading-font;
    color:black;
    background-color: $quaternary;
    padding: 5px;
}

// Start of Bucket List
.bucket-list .wrapper{
    display: flex;
}

.bucket-image{
    width: 45%;
    img{
        max-width: 100%;
        height: auto;
        box-shadow: 149px 9px 0px 0px $secondary;
    }
}

.bucket-text{
    width:55%;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bucket-button{
    text-decoration: none;
    font-family: $heading-font;
    color: black;
    background-color: $quaternary;
    padding: 5px;
}

// Start of Journey
.journey .wrapper{
    display: flex;
}

.journey-image{
    width: 40%;
    padding-top: 20px;
}

.journey{
    background-color: $quinary;
    padding-top:30px;
    padding-bottom:30px;
    img{
        max-width: 100%;
        height: auto;
        box-shadow: 10px 10px 0px 0px rgba(112, 155, 107,);
    }
}

.journey-button{
    text-decoration: none;
    font-family: $heading-font;
    color: black;
    background-color: $quaternary;
    padding: 5px;
}

.journey-text{
    padding-left:15px;
    width: 60%;
}

.journey-bg{
    background-image: url("../assets/home-image-5.jpg");
    height:350px;
}

// Start of Gallery
.gallery{
    padding-top: 50px;
    padding-bottom:50px;
}
.gallery ul{
    display: flex;
    justify-content: space-between;
    list-style:none;
}

.gallery img{
    max-width: 90%;
}

// Start of Bottom Nav
.bottom-nav .wrapper{
    display: flex;
    flex-wrap: wrap;
}

.bottom-nav{
    background-color: $quinary;
    a{
        color: black;
        text-decoration: none;
    }
}

.nav-icons{
    width:5%;
}

.nav-title{
    display: flex;
}

.nav-photos,
.nav-about{
    flex-basis:50%;
    padding:20px;
}

.nav-blog,
.nav-contact{
    flex-basis: 50%;
    padding:20px;
}

.bottom-nav img{
    margin-top: 20px;
    background-color: $quaternary;
    padding: 5px;
    border-radius: 50%;
}

.bottom-nav h3{
    margin-left:20px;
}
