@use "variables" as *;

@media (max-width: 938px){
    .header-image{
        position: absolute;
        width: 20%;
        box-shadow: 10px 10px 0px 0px rgba(255, 255, 255);
        top: 20%;
        left: 65%;  
    .index-header {
            position: relative;
            height: 300px;
            h1 {
                position: absolute;
                top: 31%;
                left: 25%;
            }
        }
    }   
    .whos-willow{
        height: 400px;
        margin-bottom: 50px;
    }
}

@media (max-width: 320px){
    .nav-bar .wrapper{
        flex-direction: column;
    }
    .header-image{
        width: 35%;
        top:5%;
        left:35%;
    }
    .index-header h1{
        top: 40%;
        left:25%;
        font-size: 2rem;
    }
    .header-icon img {
        position: absolute;
        width: 15%;
        top: 47%;
        left: 16%;
    }
    .whos-willow{
        height:800px;
    }   
}